{% extends 'Articles/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}<span class="page fs-3">{{title}}</span>{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><p class="text-white *">{{form.name.label|lower}}:</p> {{ form.name }}</p>
    <p><p class="text-white *">{{form.description.label|lower}}:</p> {{ form.description }}</p>
    <p><p class="text-white *">{{form.theme.label|lower}}:</p> {{ form.theme }}</p>
    <p><p class="text-white *">{{form.password.label|lower}}:</p> {{ form.password }}</p>
    <hr>
    <button class="btn btn-primary">Создать чат</button>
</form>
<hr>

{% endblock %}