{% extends 'Articles/base.html' %}

{% block title %}Login to {{room.name}}{% endblock %}

{% block header %}
   <br>
   <br>
   <form action="{% url 'room_search' %}" method="get" class="search">
       <input style="height:36.5px;width:450px;background:#141214;color:white;" type="text" name="room_search" placeholder="   Поиск комнаты" class="rounded-l-lg">
       <button class=" search-div border border-gray-300 rounded-r-lg"><p style="position:relative;bottom:4px;">🔍</p></button>
   </form>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'login_room' room.id %}">
    {% csrf_token %}
    <div class="auth-form border-gray rounded-xl">
        {% if room.limit_members > room.members.count %}
            <span class="fs-3" >
                <b style="margin-left:90px">Вход в комнату</b>
                <br>
                <b style="margin-left:75px">{{room.name}}</b>
            </span>
            <input class="form-control input-form " type="password" style="margin-top:10px;"
                   name="input_password" value="{{ room.password }}" placeholder="Пароль комнаты">
            <br>
            <button  class="btn btn-dark active" type="submit">Пресоединиться</button>
        {% else %}
            <span class="fs-3" >
                <b>Упс! Мест в комнате {{room.name}} не осталось(</b><br>
            </span>
            <a href="{% url 'create_room' %}">Побробуйте создать свою комнату</a>
        {% endif %}
    </div>
</form>
{% endblock %}