{% extends 'Articles/base.html' %}
{% block style %}
.main-main {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}
{% endblock %}

{% block title %}{{room.name}}{% endblock %}

{% block header %}
<span class="fs-2" style="font-weight:bold">KamranGram</span>
   <form action="{% url 'room_search' %}" method="get" class="search">
       <input style="height:36.5px;width:450px;background:white;" type="text" name="room_search" placeholder="   Поиск" class="rounded-l-lg">
       <button class=" search-div border border-gray-300 rounded-r-lg"><p style="position:relative;bottom:4px;">🔍</p></button>
   </form>
{% endblock %}

{% block content %}

{% endblock %}

{% block more %}
<br>
<br>
<br>
<div class="chat-aside inline">
    {% for room in rooms %}
       <a href="{% url 'room' room.id %}" class="text-none text-white">

           <div id="chat_intro_{{room.id}}" class="chat-div">
               <span>
                   <img src="{{ room.room_avatar.url }}" width="70px" class="rounded-full inline" style="margin:6px 0 0 0;">
                   <div style="margin-top:10px;" class="inline">
                       <span style="font-weight:bold;">{{room.name}}</span>
                       <br>
                       <span id="last_message_{{room.id}}" class="text-muted" style="font-size:13px">

                       </span>
                   </div>
                   <br>
               </span>
           </div>
       </a>

    {% endfor %}
</div>
<div class="chat inline">
            <form>
                <div>
                  <div class="background-chat {% include 'KamranGram/choice-theme.html' %}" id="chatbox" style="overflow-y: scroll;">
                      {% if messages %}
                      <b class="text-muted text-break">{{room.description}}</b>
                      {% for message in messages %}
                        {% if message.sender == request.user %}
                          <div>
                              <img class="rounded-full inline" width="27px" src="{{ message.sender.avatar.url }}" style="margin:4.5px 0 0 0;">
                              <span class="text-break own-message rounded-xl inline" style="margin:0" >
                                  <span class="text-muted" style="font-size:13px">
                                      {{ message.sender.username }}
                                  </span>
                                      <br>
                                  {{ message.content }}<br>
                                  <span class="text-muted" style="font-size:10px;text-align:right;">{{ message.time_send|timesince }}</span>
                              </span>
                              <br>
                          </div>
                          <br>
                      {% else %}
                          <div style="text-align:right">
                              <span class="text-break stranger-message rounded-xl inline" style="text-align:left">
                                  <span class="text-muted" style="font-size:13px">
                                      {{ message.sender.username }}
                                  </span>
                                  <br>
                                  {{ message.content }}<br>
                                  <span class="text-muted" style="font-size:10px;text-align:right;">{{ message.time_send|timesince }}</span>
                              </span>
                              <img class="rounded-full inline" width="27px" src="{{ message.sender.avatar.url }}" style="margin:2.5px 0 0 1.5px;"><br>
                          </div>
                          <br>
                      {% endif %}

                      {% endfor %}
                      {% endif %}
                  </div>
                    <br/>
            </form>
</div>
<ul id="create-div" class="rounded-xl border border-gray-300 hidden">
        <h5>Создать</h5>
           <a href="{% url 'add_page' %}" class="text-none null"><li class="li-text null">📃 Статью</li></a>
           <a href="{% url 'create_video' %}" class="text-none null"><li class="li-text null">🎥 Видео</li></a>
           <a href="{% url 'create_room' %}" class="text-none null"><li class="li-text null">🗨 Комнату</li></a>
</ul>
<div class="footer rounded-xl">
    <div class="inline"><input class="form-control" maxlength="2050" placeholder="Сообщение" id="my_input" type="text" style="width:675px;margin-top:20px;" required></div><div class="inline" style="margin-top:19px;"><button class="btn inline" id="submit_button" type="button" style="width:50px;background:#0afca0;"><i class="fa-solid fa-paper-plane"></i></button></div>
</div>
{{ room.id|json_script:"room-id" }}
{{ room.name|json_script:"room-name" }}


<br/>


{% endblock %}

{% block scripts %}
    <script>



      const roomID = JSON.parse(document.getElementById('room-id').textContent);
      const lastMessageSpan = document.querySelector("#last_message_{{room.id}}")
      const currentRoomChatIntro = document.querySelector("#chat_intro_{{room.id}}")

      currentRoomChatIntro.classList.add('first-chat-div')
      currentRoomChatIntro.classList.remove('chat-div')

      const chatSocket = new WebSocket(
         'ws://'
         + window.location.host
         + '/ws/KGram/room/'
         + roomID
         + '/'
      );
      chatSocket.onopen = function (e) {
      console.log("Соединение было успешно установленно!");
      };
      chatSocket.onclose = function (e) {
      console.log("Произошло что-то неожиданное!");
      };

      document.querySelector("#my_input").focus();
      document.querySelector("#my_input").onkeyup = function (e) {
         if (e.keyCode == 13) {
           e.preventDefault();
           document.querySelector("#submit_button").click();
        }
      };
      document.querySelector("#submit_button").onclick = function (e) {
         var messageInput = document.querySelector(
            "#my_input"
         ).value;

         if(messageInput.length == 0)
            {
              alert("Напишите сообщение перед тем как его отправить!")
            }
         else
            {
             chatSocket.send(JSON.stringify({ message: messageInput, sender : "{{request.user.username}}", avatar: "{{request.user.avatar.url}}", room_id: "{{room.id}}"}));


             }

      };

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var last_message = document.createElement("span");
        var span = document.createElement("span");

        console.log(`${data.sender}: ${data.message}`)

        var message = data.message
        if (data.message.length > 15) {
           message = data.message.substr(0, 15) + "..."
        }

        if (data.sender === "{{ request.user.username }}") {
          last_message.innerHTML = `<span class="text-muted inline" style="font-size:13px;;margin-top:7px">Вы: ${message}</span>`;
          } else {
          last_message.innerHTML = `<span class="text-muted inline" style="font-size:13px;;margin-top:7px">${data.sender}: ${message}</span>`;
        }

        if (data.sender === "{{ request.user.username }}") {
          span.innerHTML = `<div><img class="rounded-full inline" width="27px" src=${data.avatar} style="margin:4.5px 0 0 0;"><span class="text-break own-message rounded-xl inline" style="margin:0" ><span class="text-muted" style="font-size:13px";>${data.sender}</span><br>${data.message}</span><br></div><br>`;
        } else {
          span.innerHTML = `<div style="text-align:right;"><span class="text-break stranger-message rounded-xl inline"><span class="text-muted" style="font-size:13px">${data.sender}</span><br>${data.message}</span><img class="rounded-full inline" width="27px" src=${data.avatar} style="margin:2.5px 0 0 1.5px;"><br></div><br>`;
        }

        document.querySelector("#my_input").value = "";
        document.querySelector("#chatbox").appendChild(span);

        lastMessageSpan.removeChild(lastMessageSpan.lastChild);
        lastMessageSpan.appendChild(last_message);
        document.querySelector("#chatbox").scrollTo(0, document.querySelector("#chatbox").scrollHeight);
       };
    </script>
{% endblock %}