{% extends 'Articles/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}
   <span class="fs-3" style="margin-left:10px;">{{title}}</span>
   <form action="{% url 'room_search' %}" method="get" class="search">
       <input style="height:36.5px;width:450px;background:#141214;color:white;" type="text" name="room_search" placeholder="   Поиск комнаты" class="border border-gray rounded-l-lg">
       <button class=" search-div border border-gray rounded-r-lg"><p style="position:relative;bottom:4px;">🔍</p></button>
   </form>
{% endblock %}

{% block rooms %}
{% if rooms %}
<div class="chat-aside inline">
    {% for room in rooms %}
       <a href="{% url 'room' room.id %}" class="text-none text-white">

           <div id="chat_intro_{{room.id}}" class="chat-div">
               <span>
                   <img src="{{ room.room_avatar.url }}" width="70px" class="rounded-full inline" style="margin:6px 0 0 0;">
                   <div style="margin-top:10px;" class="inline">
                       <span style="font-weight:bold;">{{ room.name|truncatechars:14 }}</span>
                       <br>
                       <span id="last_message_{{room.id}}" class="text-muted" style="font-size:13px">

                       </span>
                   </div>
                   <br>
               </span>
           </div>
       </a>

    {% endfor %}
</div>

<div class="inline" style="position:fixed;background:#1f1d1d;margin:74px 0 0 18.9px;height:85%;width:60%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h4 style="margin:20% 0 30% 150px">Выберите комнату для переписки</h4>
</div>
{% else %}
<div class="inline" style="position:fixed;background:#1f1d1d;margin:74px 0 0 4.5px;height:85%;width:90%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h4 style="margin:10% 0 30% 200px">Вступите или
        <a href="{% url 'create_room' %}" style="text-decoration:none">
            создайте
        </a>
        свою комнату
    </h4>
</div>
{% endif %}

<div id="create-div" class="rounded-xl border border-gray-300 hidden">
    <span class="fs-5" style="font-weight:bold;margin:0;padding:0;">Создать</span>
    <button id="close-create-div" class="x-btn rounded-xl hidden" style="position:relative;bottom:5px;left:22px;"><i class="fa-solid fa-xmark text-white"></i></button>
    <a href="{% url 'add_page' %}" class="text-none null"><div class="create-menu-span text-white"><i class="fa-solid fa-newspaper"></i> Статью</div></a>
    <a href="{% url 'create_video' %}" class="text-none null"><div class="create-menu-span text-white"><i class="fa-solid fa-circle-play"></i> Видео</div></a>
    <a href="{% url 'create_room' %}" class="text-none null"><div class="create-menu-span text-white"><i class="fa-solid fa-comments" ></i> Комнату</div></a>
</div>
<div id="profile-menu-div" class="profile-menu-div rounded-xl border border-gray hidden">
    <img src="{{ request.user.avatar.url }}" class="rounded-full inline" width="27px" style="position:relative;bottom:2.5px;">
    <h6 class="inline">{{ user.username }}</h6>
    <button id="close-profile-menu-submit" class="x-btn rounded-xl hidden" style="position:absolute;top:4px;right:5px;"><i class="fa-solid fa-xmark text-white"></i></button>
    <a href="{% url 'articles-channel' request.user.id %}" style="text-decoration:none;"><div class="profile-menu-span text-white"><i class="fa-solid fa-house"></i> Мой канал</div></a>
    <a href="{% url 'profile' %}" style="text-decoration:none;"><div class="profile-menu-span text-white"><i class="fa-solid fa-pencil"></i> Изменить профиль</div></a>
    <a href="{% url 'session_logout' %}" style="text-decoration:none;"><div class="profile-menu-span text-white"><i class="fa-solid fa-right-from-bracket"></i> Выйти</div></a>
</div>
{% endblock %}

