{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>{% block style %}{% endblock %}</style>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - KamranProject</title>
    <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" >
    <link type="text/css" href="{% static 'main/css/main.min.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/453680fd58.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body style="background:#342c36">
<div style="max-height:73.8px" class=" fixed right-2 w-full top-2 p-2 bg-black border border-lime rounded-full">
     <p class="page">{% block header %}{% endblock %}
    {% if user.is_authenticated %}
       <button id="open-create-div" class="rounded-full create-div-button">➕</button>
       <button id="close-create-div" class="rounded-full create-div-button hidden">➕</button>
       <button id="open-profile-menu-submit"><img class="avatar-mini rounded-full" src="{{ user.avatar.url }}"></button>
       <button id="close-profile-menu-submit" class="hidden"><img class="avatar-mini rounded-full" src="{{ user.avatar.url }}"></button>
     </p>
       {% if not KamranGram %}
           <ul id="create-div" class="rounded-xl border border-gray-300 hidden">
               <h5>Создать</h5>
               <a href="{% url 'add_page' %}" class="text-none null"><li class="li-text null">📃 Статью</li></a>
               <a href="{% url 'create_video' %}" class="text-none null"><li class="li-text null">🎥 Видео</li></a>
               <a href="{% url 'create_room' %}" class="text-none null"><li class="li-text null">🗨 Комнату</li></a>
           </ul>
           <div id="profile-menu-div" class="profile-menu-div rounded-xl border border-gray hidden">
               <h6>{{ user.username }}</h6>
               <a href="{% url 'articles-channel' request.user.id %}" style="text-decoration:none;"><div class="profile-menu-span text-white">Мой канал</div></a>
               <!--<div class="profile-menu-span text-white"></div>-->
               <a href="{% url 'profile'%}" style="text-decoration:none;"><div class="profile-menu-span text-white">Изменить профиль</div></a>
           </div>

       {% endif %}
    {% else %}
       <span style="position:absolute;left:1070px;top:20px;"><a href="{% url 'session_login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a></span></p>
    {% endif %}
</div>
<div id="full-aside" class="flex">
<aside>
    <span style="position:relative;top:12px;right:0.55px"><i class="fa-solid fa-kiwi-bird"></i></span>
    <span style="position:relative;top:17px;left:122.5px"><i class="fa-solid fa-kiwi-bird fa-flip-horizontal"></i></span>
    <span style="position:relative;top:16px;left:23px"><i class="fa-solid fa-kiwi-bird fa-lg"></i></span>
    <span style="position:absolute;top:52px;left:89px"><i class="fa-solid fa-kiwi-bird fa-2xs"></i></span>

    <span class="inline"><h3 class="text-white">KamranProject</h3></span>
    <ul style="margin-top:15px;">
        <a href="{% url 'articles_by_time' %}" class="menu">
            <span class="inline"  style="margin-top: 4.8px;padding:0;">
                <img src="/media/menu_icons/newspaper-solid-reversed.svg" width=17px">
            </span>
            <span class="inline" style="margin:0;padding:0;">
                Новости
            </span>
        </a>
        <br>
        <a href="{% url 'videos' %}" class="menu">
            <span class="inline"  style="margin-top: 4.8px;padding:0;">
                <img src="/media/menu_icons/circle-play-solid.svg" width=17px">
            </span>
            <span class="inline" style="margin:0;padding:0;">
                Видео
            </span>
        </a>
        <br>
        <a href="{% url 'rooms' %}" class="menu">
            <span class="inline"  style="margin-top: 4.8px;padding:0;">
                <img src="/media/menu_icons/comments-solid.svg" width=17px">
            </span>
            <span class="inline" style="margin:0;padding:0;">
                Месенджер
            </span>
        </a>
    </ul>


</aside>
</div>
{% block more %}{% endblock %}
<main class="main-main">
{% include 'Articles/br.html' %}
{% block content %} {% endblock %}
</main>
    <script src="{% static 'main/js/base.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>

<!--
div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" href="#">Dropdown link</a></li>
      <li><a class="dropdown-item" href="#">Dropdown link</a></li>
    </ul>
  </div>
</div>

