<form action="{% url 'like_post' post.slug %}" method="post" class="inline">
    {% csrf_token %}
    <input type="hidden" name="url_from" value="{{ request.path }}">
    <input type="hidden" name="user_to_id" value="{{ post.author.id }}">

    <button id="like-btn" type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-sm
           {% if user in post.likes.all %}
                  btn-danger
           {% else %}
                  btn-outline-danger
           {% endif %}">
           ❤{{ post.likes.count }}
    </button>
</form>