{% extends 'articles/base.html' %}


{% block title %}{{post.title}}{% endblock %}


{% block header %}<span class="page fs-3">{{post.title}}{{liked_lst}}</span>{% endblock %}

{% block content %}
    {% if post.content %}
       {% if post.photo %}
            <a href="{{ post.photo.url }}" style="text-decoration: none;">
                <span class="inline"><img src="{{ post.photo.url }}" style="width:300px;vertical-align:top;" class="rounded-xl "></span>
            </a>
            <span class="text-white text-break inline" style="width:550px;">{{ post.content }}</span>
        {% else %}
            <div class="text-white text-break" style="margin-left:5px;">{{ post.content }}</div>
        {% endif %}
    {% endif %}
<div style="margin-top:20px;">{% include 'articles/like-form.html' %}</div>

<p class="text-muted">_____________________________________________________________________________________________________________________________________________________</p>
<h4 style="margin: 0 0 15px 5px;">Комментарии</h4>
{% if not user.is_authenticated %}
    <p style="margin-left:5px;"><a href="{% url 'register' %}">Зарегестрируйтесь</a>, чтобы оставить комментарий</p>
{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="url_from" value="{{ request.path }}">
        <input type="hidden" name="user_to_id" value="{{ post.author.id }}">
        {{ form.comment }}
        <button id="add-comment-btn" style="margin-top:5px;" type="submit" class="btn btn-dark"><span>Оставить комментарий</span></button>
    </form>
    <script>
        const addCommentInput = document.querySelector("#add-comment-input")
        const addCommentBtn = document.querySelector("#add-comment-btn")

        addCommentBtn.onclick = function(e) {
            if (addCommentInput.value == '')
            {
               alert("Нельзя отправлять пустые комментарии!")
            }
            else
            {
               notificationSocket.send(JSON.stringify({
                    user_to_id: "{{ post.author.id }}",
                    user_from_id : "{{ request.user.id }}",
                    user_from_username: "{{ request.user.username }}",
                    user_from_avatar: "{{ request.user.avatar }}",
                    post_id: "{{ post.id }}",
                    post_title: "{{ post.title }}",
                    video_id: null,
                    video_name: null,
                    event_type: "Комментирование статьи",
                    text: addCommentInput.value,
                    url: window.location.href,
                    }));
               }
        };
    </script>
{% endif %}
    <p class="text-muted" style="margin:0;padding:0">_____________________________________________________________________________________________________________________________________________________</p>

{% if article_comments %}
    {% for comment in article_comments %}
     <div style="margin:5px 0 0 20px;">

        <blockquote style="margin:0;padding:0;">
            <footer class="inline">
                {% if comment.author %}
                   <a href="{% url 'articles-channel' comment.author.id %}" style="text-decoration:none">
                       <span class="inline"><img src="{{ comment.author.avatar.url }}" width="27.5px" class="rounded-full inline"></span>
                       <h5 style="margin-bottom:20px;" class="inline">{{ comment.author }}</h5>
                   </a>
                {% else %}
                   <span class="inline"><img src="{{ default_avatar }}" width="27.5px" class="rounded-full inline"></span>
                  <p style="margin-bottom:20px;" class="inline">Пользователь удален</p>
                {% endif %}
                <div style="margin-left:33px;font-size:16x;" class="text-break text-white">{{comment.comment|linebreaks}}</div>
                <span class="inline">
                    <form action="{% url 'like_comment' post.id comment.id comment.author.id %}" method="post" style="margin-left:30px;">
                        {% include 'comments/like-comment-form.html' %}
                    </form>
                </span>
                <button class="comment-reply-btn inline" style="margin-top:3.45px;">
                    <span class="inline" style="margin:0 0 0 5px;font-size:13.5px">
                        {% if comment.replies.count > 0 %}
                            {{ comment.replies.count }}
                        {% endif %}
                    </span>
                    <span class="inline">
                        <i class="fa-solid fa-comments" style="color: #ffffff;"></i>
                    </span>
                </button>
            </footer>

            <div class="comment-reply inline hidden">
                {% if user.is_authenticated %}
                    <form action="{% url 'reply_comment' post.id comment.id comment.author.id %}" method="post" style="margin:10px 0 0 51.2px">
                        {% csrf_token %}
                        <span class="inline">
                            <input id="reply_input_{{ comment.id }}" name="comment" placeholder="Ответ на комметарий"
                            style="color:white;width:500px;margin:0;background: #141214;border-color:#141214;"
                            class="form-control">
                        </span>
                        <input type="hidden" name="url_from" value="{{ request.path }}">
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <span class="inline">
                            <button id="reply_comment_btn_{{ comment.id }}" type="submit" class="btn btn-dark">
                                <span>Ответить</span>
                            </button>
                        </span>
                    </form>

                {% else %}
                    <p style="margin-left:55px;font-size:13.5px;"><a href="{% url 'register' %}">Зарегестрируйтесь</a>, чтобы ответить на комментарий</p>
                {% endif %}
                <br>
                {% for reply in comment.replies.all %}
                    <div class="reply-comment">
                    <blockquote style="margin:0;padding:0;">
                       {% if reply.author %}
                    <a href="{% url 'articles-channel' reply.author.id %}" style="text-decoration:none">
                        <span class="inline"><img src="{{ reply.author.avatar.url }}" width="27.5px" class="rounded-full inline"></span>
                        <h6 class="inline" style="margin-top:3px;">{{ reply.author }}</h6>
                    </a>
                    {% else %}
                    <span class="inline"><img src="{{ default_avatar }}" width="27.5px" class="rounded-full inline"></span>
                    <p style="margin-bottom:10px;" class="inline">Пользователь удален</p>
                    {% endif %}
                    {% if reply.is_reply_to_reply %}
                    <span class="text-muted" style="font-size:13.5px;">
                        Ответил
                        {% if reply.user_to_reply == reply.author %}
                              самому себе
                        {% else %}
                              {{ reply.user_to_reply.username }}
                        {% endif %}
                    </span>
                    {% endif %}
                    <div style="margin:0 0 7px 33px;font-size:14.5px;" class="text-break text-white">
                        {% if reply.user_to_reply %}
                             <a href="{% url 'articles-channel' reply.user_to_reply.id %}" style="text-decoration:none">
                                 {{ reply.user_to_reply.username }}
                             </a>
                        {% else %}
                             <a href="{% url 'articles-channel' reply.parent.author.id %}" style="text-decoration:none">
                                 {{ reply.parent.author.username }}
                             </a>
                        {% endif %}

                        , {{ reply.comment }}
                    </div>
                    <blockquote style="margin:0;padding:0;">
                    <span class="bottom-inline">
                        <form action="{% url 'like_comment' post.id reply.id reply.author.id %}" method="post" style="margin: 0 0 10px 33px;">
                            {% csrf_token %}
                            <input type="hidden" name="url_from" value="{{ request.path }}">

                            <button type="submit" name="id" value="{{ comment.id }}" class="btn btn-sm
                                {% if user in reply.likes.all %}
                                    btn-danger
                                 {% else %}
                                    btn-outline-danger
                                {% endif %}" style="font-size:10px">
                                    ❤{{ reply.likes.count }}
                            </button>
                        </form>
                    </span>
                    <span class="text-muted " style="margin:23.5px 0 0 0;padding:0;font-size:10px;float:right" >{{ reply.time_create }}</span>
                    <span class="inline" style="margin:2.5px 0 0 5px;">
                        <button class="reply-form-btn text-white">
                            <i class="fa-solid fa-comments fa-sm" style="color: #ffffff;"></i>
                        </button>
                    </span>

                    {% if user.is_authenticated %}
                       <span class="reply-form hidden">
                           <form action="{% url 'reply_to_reply' post.id comment.id reply.author.id %}" method="post" style="margin:10px 0 0 51.2px">
                               {% csrf_token %}
                               <input type="hidden" name="url_from" value="{{ request.path }}">
                               <span class="inline">
                                   <input name="comment" placeholder="Ответ на комметарий" style="color:white;height:30px;width:300px;margin:0 0 3px 0;background: #141214;border-color:#141214" class="form-control">
                               </span>

                               <span class="inline">
                                   <button type="submit" class="btn btn-dark btn-sm text-white">
                                       Ответить
                                   </button>
                               </span>
                           </form>
                       </span>
                    {% else %}
                </blockquote>
                        <p style="margin-left:55px;font-size:13.5px;"><a href="{% url 'register' %}">Зарегестрируйтесь</a>, чтобы ответить на комментарий</p>
                {% endif %}


                     </blockquote>
                     </div>
                {% endfor %}
            </div>
        </blockquote>
        <span class="text-muted" style="margin: 0 0 0 0;padding:0">_____________________________________________________________________________________________________________________________________________</span>
     </div>

{% endfor %}
{% else %}
    <p class="text-muted" style="font-size:15px;">Комментариев нет.Будте первым!</p>
{% endif %}

{% endblock %}

{% block scripts %}

{% load static %}
{{ post.author.id|json_script:"user_id" }}
<script src="{% static 'main/js/comments.js' %}"></script>
<script>
const userId = JSON.parse(document.getElementById('user_id').textContent)

const webSocketProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws';

const notificationSocket = new WebSocket(
  `${webSocketProtocol}://${window.location.host}/ws/notifications/${userId}/`
)


notificationSocket.onopen = function(e) {
     console.log('notification websocket is opened');
     console.log(`${webSocketProtocol}://${window.location.host}/ws/notifications/${userId}/`)
}

notificationSocket.onclose = function(e) {
     console.log('notification websocket is closed');
}
console.log(document.querySelector("#notifications-div"))

notificationSocket.onmessage = function(e) {
     const data = JSON.parse(e.data);
     console.log(data);
     console.log(document.querySelector("#notifications-div"))

     var notification_span = document.createElement('span');
     notification_span.innerHTML = `<p>${data.user_from_username}</p>`;

     document.querySelector("#notifications-div").appendChild(notification_span);
};
</script>
{% endblock %}
