{% extends 'Articles/base.html' %}

{% block title %}{{ owner.username }}{% endblock %}

{% block header %}<span class="page fs-3">fgdfgfg</span>{% endblock %}

{% block content %}

<img src="/media/users/channel-themes/back-theme-for-channel.jpg" width="79%" height="10%" style="position:absolute;bottom:321px;left:21%;" >
<span style="position:absolute;left:300px;bottom:355px;" >
      <a href="{{ owner.avatar.url }}">
            <img class="avatar-img rounded-full" src="{{ owner.avatar.url}}">
      </a>
</span>

<span class="fs-1" style="position:absolute;left:460px;bottom:420px;font-weight:bold;">
      {{owner.username}}
</span>

<span class="channel-piece rounded-full inline" style="top:182px;left:580px;width:132.6px;">
      {{ owner.followers.count }}
      {% if owner.followers.count != 1 %}
         Подписчиков
      {% else %}
         Подписчик
      {% endif %}
</span>
<form action="{% url 'follow' owner.id %}" method="post" >
      {% csrf_token %}
      <input type="hidden" name="url_from" value="{{ request.path }}">
      <button type="submit" class="rounded-full" style="position:absolute;top:182px;left:460px; position: absolute;width:117.5px;background: #101411;padding: 10px;">
            <span style="color:white;">
                  {% if request.user in owner.followers.all %}
                     Отписаться
                  {% else %}
                     Подписаться
                  {% endif %}
            </span>
      </button>
</form>
{% block channel_content %}
      {% endblock %}

{% endblock %}