{% extends 'Articles/base.html' %}

{% block title %}{{ owner.username }}{% endblock %}

{% block header %}<span class="page fs-3">KamranProject</span>{% endblock %}

{% block content %}

<div class="channel-top-div">
      <span class="inline" >
            <a href="{{ owner.avatar.url }}">
                  <img class="avatar-img rounded-full" src="{{ owner.avatar.url}}">
            </a>
      </span>
      <span class="inline" style="margin:15px 470px 0 0">
            <div class="fs-1" style="font-weight:bold;">
                  {{owner.username}}
            </div>
            <form action="{% url 'follow' owner.id %}" method="post" class="inline" style="width:115px;margin-top:10px">
                  {% csrf_token %}
                  <input type="hidden" name="url_from" value="{{ request.path }}">
                  <input type="hidden" name="user_to_id" value="{{ owner.id }}">
                  <button id="follow-btn" type="submit" style="margin-top:10px">
                  {% if request.user in owner.followers.all %}

                            <span style="color:white;" class="follow_button rounded-full">
                                Отписаться
                            </span>
                {% else %}
                            <span style="color:white;" class="follow_button rounded-full">
                                Подписаться
                            </span>
                {% endif %}
                </button>
            </form>
            {% if request.user not in owner.followers.all %}
            <script>
                const followBtn = document.querySelector("#follow-btn")

                followBtn.onclick = function(e) {
                    notificationSocket.send(JSON.stringify({
                           user_to_id: "{{ owner.id }}",
                           user_from_id : "{{ request.user.id }}",
                           user_from_username: "{{ request.user.username }}",
                           user_from_avatar: "{{ request.user.avatar }}",
                           post_id: null,
                           post_title: null,
                           video_id: null,
                           video_title: null,
                           event_type: "Подписка",
                           text: null,
                           url: window.location.href,
                           }));

                };
            </script>
            {% endif %}
            <span class="channel-piece rounded-full inline" style="width:140px;margin-top:10px">

                  {% if owner.followers.count == 1 %}
                        <span style="margin-left:3px">{{ owner.followers.count }} Подписчик</span>
                  {% else %}
                        <span>{{ owner.followers.count }} Подписчиков</span>
                  {% endif %}
            </span>
      </span>
     {% if request.user != owner %}
         <a href="{% url 'start_room' owner.id %}" style="text-align:right;color:white">
             <i class="fa-solid fa-paper-plane" ></i>
         </a>
    {% endif %}
</div>

{% block channel_content %}
      {% endblock %}

{% endblock %}

{% block scripts %}

{{ owner.id|json_script:'user_id' }}
<script>
const userId = JSON.parse(document.getElementById('user_id').textContent)

const webSocketProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws';

const notificationSocket = new WebSocket(
  `${webSocketProtocol}://${window.location.host}/ws/notifications/${userId}/`
)


notificationSocket.onopen = function(e) {
     console.log('notification websocket is opened');
     console.log(`${webSocketProtocol}://${window.location.host}/ws/notifications/${userId}/`)
}

notificationSocket.onclose = function(e) {
     console.log('notification websocket is closed');
}
console.log(document.querySelector("#notifications-div"))

notificationSocket.onmessage = function(e) {
     const data = JSON.parse(e.data);
     console.log(data);
     console.log(document.querySelector("#notifications-div"))

     var notification_span = document.createElement('span');
     notification_span.innerHTML = `<p>${data.user_from_username}</p>`;

     document.querySelector("#notifications-div").appendChild(notification_span);
};
</script>
{% endblock %}