{% extends 'Articles/base.html' %}

{% block title %}{{ owner.username }}{% endblock %}

{% block header %}<span class="page fs-3">KamranProject</span>{% endblock %}

{% block content %}

<div class="channel-top-div">
      <span class="inline" >
            <a href="{{ owner.avatar.url }}">
                  <img class="avatar-img rounded-full" src="{{ owner.avatar.url}}">
            </a>
      </span>
      <span class="inline" style="margin:15px 470px 0 0">
            <div class="fs-1" style="font-weight:bold;">
                  {{owner.username}}
            </div>
            <form action="{% url 'follow' owner.id %}" method="post" class="inline" style="width:115px;margin-top:10px">
                  {% csrf_token %}
                  <input type="hidden" name="url_from" value="{{ request.path }}">
                  <input type="hidden" name="user_to_id" value="{{ owner.id }}">
                  <button type="submit" style="margin-top:10px">
                  {% if request.user in owner.followers.all %}

                            <span style="color:white;" class="follow_button rounded-full">
                                Отписаться
                            </span>
                {% else %}
                            <span style="color:white;" class="follow_button rounded-full">
                                Подписаться
                            </span>
                {% endif %}
                </button>
            </form>
            <span class="channel-piece rounded-full inline" style="width:140px;margin-top:10px">

                  {% if owner.followers.count == 1 %}
                        <span style="margin-left:3px">{{ owner.followers.count }} Подписчик</span>
                  {% else %}
                        <span>{{ owner.followers.count }} Подписчиков</span>
                  {% endif %}
            </span>
      </span>
     {% if request.user != owner %}
         <a href="{% url 'start_room' owner.id %}" style="text-align:right;color:white">
             <i class="fa-solid fa-paper-plane" ></i>
         </a>
    {% endif %}
</div>

{% block channel_content %}
      {% endblock %}

{% endblock %}