{% extends 'Articles/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}<span class="fs-3 page" style="margin-right:100px;">{{title}}</span>{% endblock %}

{% block content %}
<form action="" method="post" >
    {% csrf_token %}
    <div class="auth-form border-gray rounded-xl">
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{next}}"/><br>
        <button type="submit" class="btn btn-dark active">Изменить пароль</button>
        <br><br>

    </div>
</form>

{% endblock %}