{% extends 'Articles/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}<span class="page fs-3">{{title}}</span>{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'users/avatar.html' %}
    {{ form.as_p }}
    <p><button type="submit" class="btn btn-success">Сохранить</button></p>
</form>
<hr>
<a class="btn btn-primary" href="{% url 'password-change' %}">Сменить пароль</a>
<hr>
{% endblock %}