{% extends 'KamranVideo/video-base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}

<span class="fs-3" style="font-weight:bold;position:relative;margin-left:135px;top:5px" >{{title}}</span>
<form action="{% url 'video_search' %}" method="get" style="position:absolute;left:380px;bottom:17px;">
        <input style="height:36.5px;width:450px;background:#141214;color:white;" type="text" name="video_search" placeholder="   Поиск видео" class="border border-gray rounded-l-lg">
        <button class=" search-div border border-gray rounded-r-lg"><p style="position:relative;bottom:4px;">Поиск</p></button>
</form>

{% endblock %}

{% block content %}
{% if videos %}
{% for i in videos %}
<a href="{% url 'watch' i.id %}" style="text-decoration:none">
<div class="video-div rounded-xl">
    <img src="{{ i.preview.url }}" class="preview rounded-xl">

    {% if i.title|length > 35 %}
        <p>{{ i.title|slice:34|truncatewords:5 }}...</p>
    {% else %}
        <p>{{ i.title }}</p>
    {% endif %}
    <p style="padding:0;margin:0;" class="text-muted">{{ i.author }}</p>
    <p style="padding:0;margin:0;" class="text-muted">{{ i.time_create }}</p>
</div>
</a>
{% endfor %}
{% else %}
<p class="text-muted" style="font-size:15px;margin-left:10px">По запросу "{{ video_search }}" ничего не найдено</p>{% endif %}


{% endblock %}