html,
body {
    height: 100%;}

.* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}


#full-aside {
    padding: 2.5%;
    border-right: 5px solid white;
    width: 21%;
    position: fixed;
    background: #0afca0;
    height: 100%;


}

h1, h2, h3, h4, h5, h6, span, p, li {
    color: white;
}

.form {
   width: 900px;
   padding: 10px;
   margin-left: 50px;

}

#mini-aside {
    padding: 2.5%;
    border-right: 5px solid white;
    width: 9%;
    position: fixed;
    background: #0afca0;
    height: 100%;
    display: flex;
}


#addbtn {
   position: relative;
   right: -50px;
   }

.avatar-img {
   width:150px;
   padding: 10x;
   background: gray;
}

.avatar-mini {
   width:30px;
   position: absolute;
   left: 1200px;
   bottom: 24px;

}



.link-none {
   text-decoration: none;
}

.menu {
   margin-top: 25px;
   text-decoration: none;
   color: white;

}
.mini-menu {
   position: relative;
   right: 55px;
   text-decoration: none;

}

.aside-btn {
  text-decoration: none;
  position:relative;
  bottom: 30px;
  right: 30px;}

ul {
   list-style: none;
   }

.title {
   position: relative;
   margin-left: 75px;
   }


.main-main {
   margin-left: 266px;
   background-color: #342c36;
   min-height: 100%;
   max-width: 90%

}

.video-main {
  margin-left: 9%;
  background-color: #342c36;
  height: 100%;
}

.video-menu {
 background: #342c36;
 margin-top: 100px;
 width: 31%;
 float: right;
 }

form {
   margin-left: 10px;
   }

.page{
   color: #fcfafa;
   margin-left: 266px;
   font-weight: bold;
}

.post {
   margin-left: 70px;
   width: 500px;
   background: #141214;
   padding: 20px 20px 0 20px;
   border-width: 0.1px;
   border-color: gray;

}

.channel-post {
   margin-left: 50px;
   width: 500px;
   background: #141214;
   padding: 20px;
   border-width: 0.1px;
   border-color: gray;
}

.chat-page{
   margin-left: 10px;
   font-weight: bold;
}

.order-menu {
   position: relative;
   left: 400px;
   bottom: 5px;
   padding-left: 10px;
   text-align: left;
}
.order-link {
   text-decoration: none;
   color: white;
   top: 6.5px;
   background: #141214;
   margin-top: 5px;
   padding: 0 4px 0;

   }

.order-link:hover {
  color: #02cc7f;
}

.channel-menu {
   margin: 15px 0 10px 178px;

}

.channel-link {
   text-decoration: none;
   color: white;
   top: 6.5px;
   background: #141214;
   margin-top: 5px;
   padding: 0 4px 0;
}

.channel-link:hover {
   color: #02cc7f;

}

.auth {
   position: relative;
   left: -20px;
   bottom: -300px;
}

.form-auth {
   position: relative;
   top: 200px;
   right: -50px;}

.content {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 200px;
    }

#btn-arrow-left {
   position: relative;
   margin-left: 290px;
   }



.background-chat {
   height: 470.5px;
   background-color: black;
   margin:0;
   padding:0;
   width: 725px;
   background-image: url("https://avatars.mds.yandex.net/i?id=8868dcc8abd96f16c271d8aef9d037ff8278da11-9683943-images-thumbs&n=13");
   }

.own-message {
   padding: 5px;
   background: #7543d9;
   max-width: 380px;
   font-size: 14px;
}

.stranger-message {
   padding: 5px;
   background: #437de0;
   max-width: 380px;
   font-size: 14px;

}

.bottom-inline {
   display: inline-block;
   vertical-align:bottom;
   }

.post-image {
   width: 100px;
   }

.preview {

}

.video-div {
   display: inline-block;
   width: 360px;
   background: #141214;
   padding: 10px;
   margin-left: 20px ;
   vertical-align: top;

   }

.video-div-for-channel {
   display: inline-block;
   width: 300px;
   background: #141214;
   padding: 10px;
   margin: 10px 0 0 25px;
   vertical-align: top;
}
.search-div {
   position: absolute;
   height: 36.5px;
   background: #141214;
   padding: 10px;

}

.search {
   position: absolute;
   left: 500px;
   bottom: 17px;
}



.li-text {
   margin-left: 5px;
}

.text-none {
   text-decoration: none;
   link-style: none;
   }

.theme-blue {
   background-image: url('/media/KamranGram/chat-themes/blue-theme.jpg')
}

.theme-red {
   background-image: url('/media/KamranGram/chat-themes/red-theme.jpg')
}

.theme-dark {
   background-image: url('/media/KamranGram/chat-themes/dark-theme.jpg')
}

.theme-green {
   background-image: url('/media/KamranGram/chat-themes/green-theme.jpg')
}

.theme-purple {
   background-image: url('/media/KamranGram/chat-themes/purple-theme.jpg')
}


.mini-video-div {
   width: 390px;
   background: #141214;
   padding: 10px;


   }

.video-elem {
   display:inline-block;
   vertical-align:top;}

.watch-div {
   width: 65%;
   background: #141214;
   vertical-align: top;
   padding: 10px;
   display: inline-block;

   }

input, textarea {
   background: #141214;
   border-color: #141214;
 }



#create-div {
   position:fixed;
   left:1010px;
   top: 5px;
   padding: 10px;
   width: 150px;
   background: #342c36;
}

.create-div-button {
   position: absolute;
   width: 30px;
   height: 30px;
   background: #141214;
   left: 1160px;
   bottom: 24px;
}

.null {
   margin:0px;
   padding:0px
}


.card{
  max-width: initial;

}

.card-block{
    padding: 28px 20px;
}


.inline {
    display: inline-block;
    vertical-align: top;
    }

.text-right {
    text-align: right;
}

.first-chat-div {
   width: 234px;
   height: 85px;
   background: #383838;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   border-right: 3px solid gray;
}

.chat-div {
   width: 234px;
   height: 85px;
   background: #141214;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   border-right: 3px solid gray;
   }

.chat-div:hover {
   background: #303030;
   }


.chat-aside {
    width: 205px;
    margin: 0 0 0 21%;
}

.chat {
   position: fixed;
   top:74.3px;
   left:489px;
   height: 300px;
}

.text-right {
  margin-left:500px;
}

.text-left {
  text-align: left;
}

.footer{
    width: 765px;
    position: fixed;
    left:490px;
    bottom: 0px;
}

.channel-piece {
   background: #090d0a;
   padding: 10px;
   border-radius: 0.75rem;

}

.channel-top-div {
  width: 95%;
  background: #141214;
  margin-left: 30px;
  padding: 10px;
  border-radius: 0.75rem;
  border-width: 0.1px;
  border-color: gray;
}

.channel-sub-button {
   position: absolute;
   width: 93.66px;
   background: #101411;
   padding: 10px;
   border-radius: 0.75rem;
}

.channel-sub-button:hover {
   background: #232423;
}

.followed_by_mini_div {
   width: 300px;
   background: #141214;
   padding: 10px;
}

.channel_right_aside {
   float: right;
   margin-right: 60px;
   width: 350px;


}

.follow_button {
   width:117.5px;
   background: #02cc7f;
   padding: 10px;
}

.follow_button:hover {
   background: #0afca0;
}

.followers_menu {
   background: #141214;
   padding: 10px;
   border-width: 0.1px;
   border-color: gray;

}

.followed_by_menu {
   background: #141214;
   padding: 10px;
   border-width: 0.1px;
   border-color: gray;
}

.border-gray {
   border-width: 1px;
   border-color: rgb(209 213 219 / var(--tw-border-opacity));
   }

.follower {
   width: 150px;
   margin-top: 10px;
   border-radius: 0.75rem;
   background: #161716;
}

.follower:hover {
   background: #232423;
}

.reply-comment {
   border-left: 1.5px solid gray;
   margin: 0 0 0 50px;
}

.auth-form {
   padding: 20px;
   width: 500px;
   margin: 0 0 0 140px;
   background: #242424;
}

.input-form {
   margin-top:5px;
   color: white;
   background: #141214;
   border-color: #141214;
}

.profile-menu-div {
   position:fixed;
   left:1050px;
   top: 5px;
   padding: 10px 5px 10px 5px;
   width: 200px;
   background: #342c36;
}

.create-menu-span {
   width: 135px;
   color: white;
   border-top: 1px solid gray;
}

.create-menu-span:hover {
   background: #242424;
   color: #02cc7f;
   border-top: 1px solid gray;
}
.profile-menu-span {
   width: 190px;
   color: white;
   border-top: 1px solid gray;
}

.profile-menu-span:hover {
   background: #242424;
   color: #02cc7f;
   border-top: 1px solid gray;
}

.x-btn {
   width: 30px;
   height: 30px;
}

.x-btn:hover {
   background: #242424;
}

.message-menu-btn {
   float:right;
   position: relative;
   top: 4px;
   width: 14px;
   height: 14px;
   background: #7a48db;
/*#56398f;*/

}

.message-menu-btn:hover {
   background: #56398f;
}

.message-menu {
   width: 234px;
   height: 85px;
   background: #1a1e26;
   font-size:14px;

}

.change_message_btn {
   color: white;

}

.change_message_btn:hover {
   color: #26a9d1

}

.delete_message_btn {
   color: white;

}

.delete_message_btn:hover {
   color: red;

}

.change_message_form {
   padding: 10px;
   width: 200px;
   background: #1a1e26;
   font-size:14px;
}

.room_info_div {
   padding: 10px;
   background: #212529;
   border-color: #212529;
   position:fixed;
   width: 240px;
   height: 450px;
   left:974px;
   top:74px;
}

.enter-room-btn {
   color: white;
   text-decoration: none;
   font-size:14.5px;
   font-weight:bold;
   position: absolute;
   bottom: 3px;
   right: 3px;


}

.enter-room-btn:hover {
   color: #b3322e
}

.save-room-btn {
   padding: 5px;
   color: white;
}

.members-div {
   padding: 10px;
   background: #212529;
   border-color: #212529;
   position:fixed;
   width: 240px;
   height: 300px;
   left:735px;
   top:74px;
}

.member-div {
    margin-top:5px;
}

.member-div:hover {
    background: #3b3a3b;
}


html {
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 12px;

}

::-webkit-scrollbar-thumb
{
	border-top: 10px solid inset 0 0 6px;
	border-bottom: 10px solid inset 0 0 6px;
	background-color: inset 0 0 6px ;
	background-image:-webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

}
}]




